div
	label(for="title") Title:
	input(type="text", name="title" value=books.title)
div
	label(for="author") Author:
	input(type="text", name="author" value=books.author)
div
	label(for="first_published") First published:
	input(type="integer", name="first_published" value=books.first_published)
div
	label(for="body") Genre:
	input(type="text", name="genre" value=books.genre)
input(type="submit")