div
	label(for="title") Title:
	input(type="text", name="title" value=book.title)
div
	label(for="author") Author:
	input(type="text", name="author" value=book.author)
div
	label(for="first_published") First published:
	input(type="integer", name="first_published" value=book.first_published)
div
	label(for="body") Genre:
	input(type="text", name="genre" value=book.genre)
input(type="submit")