div
	label(for="book_id") Book ID:
	input(type="text", name="book_id" value=loans.book_id)
div
	label(for="patron_id") Patron ID:
	input(type="text", name="patron_id" value=loans.patron_id)
div
	label(for="loaned_on") Loaned On:
	input(type="text", name="loaned_on" value=loans.loaned_on)
div
	label(for="return_by") Return By:
	input(type="integer", name="return_by" value=loans.return_by)
input(type="submit")