	h2 Loan History
	table
		thead
			tr
				th Book
				th Patron 
				th Loaned on
				th Return by 
				th Returned on
				th Action
		tbody
			tr
				td
					a(href="/books/" + book.id)= book.title
				td
					a(href="/patrons/" + loan.patron_id)= loan.Patron.first_name
				td 2015-12-12
				td 2015-12-19
				td
				td
					a.button(href='return_book.html') Return Book