extends ../layout

block main
	h1= title
	p
		strong Book Title:
		= " " + book.title
	p
		strong Loaned by:
		= " " + patron.first_name + " " + patron.last_name
	p
		strong Loaned on:
		= " " + d(loan.loaned_on)
	p
		strong Return by:
		= " " + d(loan.return_by)

	include ../error
		
	form(action="/loans/" + loan.id + "?_method=PUT", method="post")
		div
			label(for="returned_on") Returned on:
			input(type="text", name="returned_on" value=d(new Date()))
		input(type="submit")